body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 300px; 
}

input[type="email"],
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better readability */
}

input[type="submit"] {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Increase font size for better readability */
}

input[type="submit"]:disabled {
    background-color: #ccc; /* Grey out the button when disabled */
    cursor: not-allowed;
}
